body{
    font-family: Montserrat;
}
h1 h2 h3 h4 h5 h6{
    font-family: Montserrat;
    font-weight: bold;
}
h2{
    font-size: 3rem;
    line-height: 1.5;
}
h3{
    font-size: 1.5rem;
}
p{
    color: #8f8f8f;
}
.container-fluid{
    padding: 3% 15% 7%;
}
/* Heading */
.big-heading{
    font-family: 'Montserrat', sans-serif;
    font-size: 3.5rem;
    line-height: 1.5;
}
/* Navigation bar */
.nav-item{
    padding: 0 18px;
}
.navbar{
    padding:0 0 4.5rem;
}
.navbar-brand{
    font-family: ubuntu;
    font-size: 2.5rem;
    font-weight: bold;
}
.nav-link{
    font-size: 1.2rem;
    font-family: Montserrat-Light ;
}
/* Download Buttons */
.download-button{
    margin: 5% 3% 5% 0;
}
/* title-image */
.title-image{
    width: 60%;
    transform: rotate(25deg);
    position: absolute;
    right: 30%;
}
#title{
    background-color: #ff4c68;
    color: #fff;
}
/* Feature Section */
#features{
    padding: 7% 15%;
    background-color: white;
    position: relative;
}
.feature-box{
    text-align: center;
    padding: 5%;
}
.icon{
    color: #ef8172;
    margin-bottom: 1rem;
}
.icon:hover{
    color: #ff4c6b;
}
/* Testimonial */
#testimonials{
    text-align: center;
    background-color: #ef8172;
    color: #fff;
}
.testimonial-image{
    width: 10%;
    border-radius: 100%;
    margin: 20px;
}
.carousel-item{
    padding: 7% 15%;
}
#press{
    background-color: #ef8172;
    text-align: center;
    padding-bottom: 3%;
}
.press-logo{
    width: 15%;
    margin: 20px 20px 50px;
}
/* Pricing Section */
#pricing{
    padding: 100px;
    text-align: center;
}
.pricing-column{
    padding: 3% 2%;
}
/* cta */
#cta{
    background-color: #ff4c68;
    color: #fff;
    padding: 7% 15%;
    text-align: center;
}
.cta-heading{
    font-family: Montserrat;
    font-weight: bold;
    font-size: 3.5rem;
    line-height: 1.5;
}
/* footer section */
#footer{
    padding: 7% 15%;
    text-align: center;
}
.icon-footer{
    padding: 15px;
}
@media (max-width:1028px){
    #title{
        text-align: center;
    }
    .title-image{
        position: static;
        transform: rotate(0);
    }
}
